<div class="fixed inset-0 z-10 bg-black bg-opacity-50 flex items-center justify-center w-screen h-screen">
    <div class="bg-white rounded-lg p-6 max-w-lg w-full">
        <h2 class="text-lg font-medium mb-4">{{ mode === 'add' ? 'Add New User' : 'Edit User' }}</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="name" placeholder="Enter user name..."
                class="mb-4 p-2 border border-gray-300 rounded-md w-full">
            <input type="text" formControlName="surname" placeholder="Enter user surname..."
                class="mb-4 p-2 border border-gray-300 rounded-md w-full">
            <input type="text" formControlName="email" placeholder="Enter user email..."
                class="mb-4 p-2 border border-gray-300 rounded-md w-full">
            <input type="text" formControlName="profession" placeholder="Enter user profession..."
                class="mb-4 p-2 border border-gray-300 rounded-md w-full">

            <div class="flex justify-end space-x-2">
                <button type="button" class="px-4 py-2 bg-gray-500 text-white rounded-lg" (click)="onClose()">
                    Cancel
                </button>
                <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg" [disabled]="userForm.invalid">
                    Add details
                </button>
            </div>
        </form>
    </div>
</div>