<header>
    <nav class=" border-gray-200 px-4 lg:px-6 py-2.5 bg-slate-200">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a routerLinkActive="/" class="flex items-center">
                <h6 class="self-center text-2xl lg:text-3xl font-bold tracking-wide text-gray-700">
                    User<span class="text-gray-800">Post</span>
                </h6>

            </a>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 lg:space-y-0 space-y-2">
                    <li>
                        <a routerLink="/" routerLinkActive="active"
                            class="block py-2 pr-4 pl-3 text-lg font-semibold text-gray-900 bg-primary-700 rounded-lg lg:bg-transparent lg:text-primary-700 lg:p-0 hover:text-gray-950 transition-colors duration-300"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a routerLink="/users" routerLinkActive="active"
                            class="block text-lg font-semibold py-2 pr-4 pl-3 text-gray-900 bg-primary-700 rounded-lg lg:bg-transparent lg:text-primary-700 lg:p-0 hover:text-gray-950 transition-colors duration-300"
                            aria-current="page">Users</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>