<div class="flex flex-col items-end max-w-[1440px] mx-auto gap-10 my-5">
    <div class="flex flex-col w-full gap-5">
        <h2 class="text-2xl text-[#4A85F6] font-semibold">Users Dashboard</h2>
        <div class="flex justify-between">
            <app-user-filter [filterValue]="filterValue" class="w-[45%]" [placeholder]="userPlaceholder"
                (filterChange)="onFilterValueChanged($event)"></app-user-filter>
            <button
                class="px-6 py-3 rounded-sm text-white text-lg font-semibold bg-[#4A85F6] hover:bg-[#3475ee] transition-all ease-linear"
                (click)="openUserModal()">Add user &nbsp; +</button>

        </div>
    </div>
    @if(loading){
    <div class="h-screen w-screen flex justify-center">
        <app-spinner />
    </div>
    }
    @else {
    <div class="w-full flex flex-col items-end gap-4">
        <table class="w-full text-sm text-left text-gray-700 rounded-sm">
            <thead class="text-gray-600 uppercase bg-[#EFF4FA]">
                <tr class="font-medium text-[#8F9BB3]">
                    <th scope="col" class="px-6 py-6">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Surname
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Email Address
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Profession
                    </th>
                    <th scope="col" class="px-6 py-6 text-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (user of (filterValue ? filteredUsers : users) | paginate : {itemsPerPage: 5,
                currentPage:
                currentPage}; track
                user.id) {
                <tr class="bg-white hover:bg-gray-100 transition-all cursor-pointer border-b-[1px] border-b-gray-600 border-opacity-25 text-[#222B45] text-[17px] leading-7 font-medium"
                    routerLink="{{user.id}}">
                    <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap">
                        {{user.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{user.surname}}
                    </td>
                    <td class="px-6 py-4">
                        {{user.email}}
                    </td>
                    <td class="px-6 py-4">
                        {{user.profession}}
                    </td>
                    <td class="px-6 py-4 flex justify-center gap-2">
                        <button (click)="deleteUserById(user.id); $event.stopPropagation()"
                            class="px-4 py-2 text-white bg-red-500 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">
                            <img src="../../../../assets/icons/delete-icon.svg" alt="delete-icon">
                        </button>

                        <button (click)="openEditModal(user);$event.stopPropagation()"
                            class="px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
                            <img src="../../../../assets/icons/edit-icon.svg" alt="edit-icon">
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }

    <pagination-controls (pageChange)="handlePageChange($event)">
    </pagination-controls>
    <app-user-modal *ngIf="isModalOpen" [mode]="modalMode" [userData]="selectedUser"
        (formSubmit)="handleFormSubmit($event)" (closeModal)="closeModal()"></app-user-modal>
</div>