<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden my-4">
    <div class="px-6 py-4">
        <h2 class="text-xl font-bold mb-2 text-gray-800">User Information</h2>
        <ul class="list-none">
            <li class="mb-3">
                <span class="font-semibold text-gray-700">Name: </span>
                <span class="text-gray-600">Dustin O'Kon</span>
            </li>
            <li class="mb-3">
                <span class="font-semibold text-gray-700">Email: </span>
                <span class="text-gray-600">Freddy.Wolf37gmail.com</span>
            </li>
            <li class="mb-3">
                <span class="font-semibold text-gray-700">Job Description: </span>
                <span class="text-gray-600">Lead</span>
            </li>
            <li class="mb-3">
                <span class="font-semibold text-gray-700">Profession: </span>
                <span class="text-gray-600">Officer</span>
            </li>
            <li class="mb-3">
                <span class="font-semibold text-gray-700">Card: </span>
                <span class="text-gray-600">106</span>
            </li>
            <li class="mb-3">
                <span class="font-semibold text-gray-700">Currency: </span>
                <span class="text-gray-600">Kuwaiti Dinar</span>
            </li>
            <li class="mb-3">
                <span class="font-semibold text-gray-700">Address: </span>
                <span class="text-gray-600">Robinside</span>
            </li>
        </ul>
    </div>
    <a routerLink="./posts">Userin postlarına bax</a>
</div>