<section class="container mx-auto px-6 md:px-12 lg:px-20 max-w-7xl text-center mt-10">
    <div>
        <h2 class="text-4xl md:text-5xl font-extrabold text-gray-800 mb-6">
            Seamlessly Manage Users and Their Posts
        </h2>

        <p class="text-lg md:text-xl text-gray-600 mb-8 max-w-3xl mx-auto leading-relaxed">
            UserPost Manager provides an intuitive platform where you can efficiently manage user data and their posts.
            Experience simplified operations with our easy-to-use tools and optimized workflow.
        </p>

        <ul
            class="text-left space-y-4 text-base md:text-lg text-gray-700 mb-12 mx-auto max-w-4xl list-inside list-disc">
            <li><span class="font-semibold text-gray-800">Centralized User Management:</span> View, add, update, and
                delete users effortlessly.</li>
            <li><span class="font-semibold text-gray-800">Post Control:</span> Create, edit, filter, and delete posts to
                keep content up to date.</li>
            <li><span class="font-semibold text-gray-800">Advanced Search & Filter:</span> Quickly find users and posts
                with powerful search and filter options.</li>
            <li><span class="font-semibold text-gray-800">Responsive Design:</span> Manage your data from any device
                with a fully responsive UI (except user table). </li>
        </ul>

        <a routerLink="/users"
            class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-4 px-8 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
            Get Started
        </a>
    </div>
</section>